<!-- Item Project and Filter Name -->
<li class="item-thumbs span3 life">
  <!-- Fancybox - Gallery Enabled - Title - Full Image -->
  <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clouds" href="images/myself/full/image-05-full.jpg">
    <span class="overlay-img"></span>
    <span class="overlay-img-thumb font-icon-plus"></span>
  </a>
  <!-- Thumb Image and Description -->
  <img src="images/myself/thumbs/image-05.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
</li>
