<!-- Start Toggle -->
        <div class="accordion" id="toggleArea">         
          <div class="accordion-group">
            <div class="accordion-heading togglize">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseOne">
                Academia
                <span class="font-icon-plus"></span>
                <span class="font-icon-minus"></span>
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
              <div class="accordion-inner">
                {% include bio/academia.html %}
              </div>
            </div>
          </div>                 
        </div>
      <!-- End Toggle -->

        <!-- Start Toggle -->
        <div class="accordion" id="toggleArea">         
          <div class="accordion-group">
            <div class="accordion-heading togglize">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseTwo">
                Life
                <span class="font-icon-plus"></span>
                <span class="font-icon-minus"></span>
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                {% include bio/life.html %}
              </div>
            </div>
          </div>                 
        </div>
      <!-- End Toggle -->

        <!-- Start Toggle -->
        <div class="accordion" id="toggleArea">         
          <div class="accordion-group">
            <div class="accordion-heading togglize">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseThree">
                Travel
                <span class="font-icon-plus"></span>
                <span class="font-icon-minus"></span>
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                {% include bio/travel.html %}
              </div>
            </div>
          </div>                 
        </div>
      <!-- End Toggle -->
