<h4 id="undergraduate">Undergraduate</h4>
<ol>
  <li>Intern at <strong>Institute of Advanced Computing Technology</strong><br>
<cite>I am now doing my graduate project here trying to connect <a href="http://code.edx.org" target="_blank">edX</a> with a virtual machine system to make MOOC more common in China. The topic is “<u>Design and Implementation of Online Course and Practice System Based on Virtualization</u>”</cite>.<br>
    <ul>
      <li>Developed a Paper Download Tool with data mining technology  </li>
      <li>Research on the Rapid Deployment of Large-Scale Virtualization Platform Technology  </li>
      <li>Built a testbed with Hadoop  </li>
      <li>Studied SPECvirt harness (<cite>Standard Performance Evaluation Corporation</cite>)  </li>
    </ul>
  </li>
  <li>Intern at <strong>State Key Laboratory of Software Development Environment</strong><br>
    <ul>
      <li>Open-source operating system kernel analysis and safety assessment<br>
The main task for us is analysis on Android Dalvik Virtual Machine, runtime library and other function libraries, in which I analyzed the part of garbage collection in Android 4.0.3.  </li>
    </ul>
  </li>
  <li>I have done many student projects about <strong>Sentiment Analysis</strong> with my friends, and the mentor is Zhoujun Li.<br>
    <ul>
      <li>Personalized Analysis of Emotion in Social Networking Environment  </li>
      <li>Personalized Analysis of Emotion Based on OCC Model  </li>
      <li>Evaluation of the Credibility of Weibos about Government<br>
 <a href="http://www.anti-rumor.com" target="_blank">See HERE!!!</a>  </li>
    </ul>
  </li>
  <li>Team leader in mathematical modeling team 2012 - 2013
    <ul>
      <li>2013 Mathematical Contest In Modeling (the <strong>Meritorious Winner</strong>)  </li>
      <li>2012 China Undergraduate Mathematical Contest in Modeling  </li>
    </ul>
  </li>
</ol>
