<h3 id="travel">Travel</h3>
<p>For recent years, I have travelled a lot.  </p>
<ul>
  <li>During Winter 2013-2014, thanks to the opportunity of being an exchange student in Technical University of Denmark, I was able to take a trip around the Europe.<br>
I’ve been to Sweden, Norway, Denmark, Germany, Netherland, Belgium, France, Spain, Italy, Switherland and Czech.<br>
I’ve made really good friends in Denmark and I am really looking forward to taking the trips again.  </li>
  <li>In Summer 2013, I took a trip to Hong Kong, Macau and GuangZhou.  </li>
  <li>In Spring 2013, I took a trip to Nanjing and Suzhou.  </li>
  <li>Early Spring 2013, I travelled around Taiwan province.<br>
Nice people, nice weather and really nice scenery.  </li>
  <li>In Summer 2012, I went to Hong Kong as a visit scholar for a week, by whose chance I was able to visit most of the wonders in Hong Kong.  </li>
  <li>In Summer 2011, I went to Italy as a team member of the program <cite>Chinese Youth Going to Italy to Exchange Culture</cite>.<br>
It was my first time abroad, and I have travelled to Roman, Florence, Pisa, Milan.<br>
Really like the weather during summer!!! Much better than winter!!!  </li>
  <li>…</li>
</ul>


<p>I would like to travel all around the world.  </p>

<p>It’s my photo shot at Pisa on 2014/01/12.</p>
<p><img src="http://blog.michael-tong.com/images/aboutme1.jpg" alt="I'm in Pisa"></p>
