<!-- Contact Section -->
<div id="contact" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Get in Touch</h2>
                <h3 class="title-description">If you have any queries, please contact me (as the following format).</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- Contact Form -->
    <div class="row">
    	<div class="span9">
        
        	<form id="contact-form" class="contact-form" action="#">
                <p class="contact-email">
                	<input id="contact_email" type="text" placeholder="" value="To: michael at uchicago dot edu" name="email" disabled/>
                </p>
            	<p class="contact-name">
            		<input id="contact_name" type="text" placeholder="" value="Subject: #MIKE HT# <YOUR NAME> : <YOUR QUERY>" name="name" disabled/>
                </p>
                <p class="contact-message">
                	<textarea id="contact_message" placeholder="Details of your queries. (I may not be able to reply soon)" name="message" rows="15" cols="40" disabled></textarea>
                </p>
                <p class="contact-submit">
                	<a id="contact-submit" class="submit" href="">Then Hit Send</a>
                </p>
                
                <div id="response">
                
                </div>
            </form>
         
        </div>
        
        <div class="span3">
        	<div class="contact-details">
        		<h3>Contact Details</h3>
                <ul>
                    <li><a href="#">michaelht"at"uchicago"dot"edu</a></li>
                    <li>Michael Hao Tong</li>
                    <li>
                        Ryerson Physical Laboratory
                        <br>
                        The University of Chicago
                        <br>
                        Chicago, IL 60637
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Contact Form -->
</div>
</div>
<!-- End Contact Section -->
