<!-- Friends Section -->
<div id="friends" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">My Friends</h2>
                <h3 class="title-description">Friends are awesome.</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- People -->
    <div class="row">
	{% include friends/0-friend-list.html %}
    </div>
    <!-- End People -->
</div>
</div>
<!-- End Friends Section -->
