<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
        	<a id="goUp" href="#home-slider" title="Michael Tong | Tech's good, so is life.">Michael Tong</a>
        </div>
	<div id="blog">
        <li><a href="http://blog.michael-tong.com" target="_blank">Blog</a></li>
	</div>
        <nav id="menu">
        	<ul id="menu-nav">
            	<li class="current"><a href="#home-slider">Home</a></li>
                <li><a href="#bio">Biography</a></li>
                <li><a href="#friends">Friends</a></li>
                <li><a href="#contact">Contact</a></li>
		
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->
