    	<!-- Start Profile -->
    	<div class="span4 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb"><a href="http://blog.michael-tong.com" target="_blank" style="color:white">It's my Blog</a></span>
                </div>
                <img src="images/profile/profile-me.jpg" alt="Michael Tong">
            </div>
            <h3 class="profile-name">Michael Tong</h3>
            <p class="profile-description">It's me. Click on the photo for my blog, where you can find my recent posts.</p>
            	
            <div class="social">
            	<ul class="social-icons">
			<li><a href="http://www.weibo.com/1980598807" target="_blank"><i class="font-icon-social-weibo"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/michaelht" target="_blank"><i class="font-icon-social-linkedin"></i></a></li>
                        <li><a href="https://github.com/MichaelTong" target="_blank"><i class="font-icon-social-github"></i></a></li>
                        <li><a href="https://www.facebook.com/1193666508" target="_blank"><i class="font-icon-social-facebook"></i></a></li>
                        <li><a href="https://twitter.com/keyboardPoet" target="_blank"><i class="font-icon-social-twitter"></i></a></li>
                        
                </ul>
            </div>
        </div>
        <!-- End Profile -->
